*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul{
    list-style: none;
}
i{
     font-style: normal;
 }
a{
    text-decoration: none;
    color: inherit;               //用它父元素的颜色

}
html{
    font-size: 100px;
}
@media (min-width: 320px){
    html{
        font-size:42.6666px;
    }
}
@media (min-width: 360px){
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px){
    html{
        font-size: 50px;
    }
}
@media (min-width: 414px){
    html{
        font-size: 55.2px;
    }
}
body{
    font-size: 12px;
}
@font-face {
    font-family: 'iconfont';  /* project id 1021820 */
    src: url('//at.alicdn.com/t/font_1021820_ga7y6uabsqr.eot');
    src: url('//at.alicdn.com/t/font_1021820_ga7y6uabsqr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1021820_ga7y6uabsqr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1021820_ga7y6uabsqr.woff') format('woff'),
    url('//at.alicdn.com/t/font_1021820_ga7y6uabsqr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1021820_ga7y6uabsqr.svg#iconfont') format('svg');
}

